@import '~bootstrap/scss/bootstrap.scss';
@import '~@fontsource/dm-sans/index.css';
@import '~@fontsource/dm-sans/700.css';

body{
  font-family: $main-font;
}

*{
  list-style: none;
}

.fc-button-orange{
  width: 90%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: $primary-color;
  color: white;
}

